# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        if a < b:
            return a
        else:
            return b
    else:
        if a > b:
            return a
        else:
            return b

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [272]:
def animal_crackers(text):
    word1 = " "
    word2 = " "
    if len(text.split()) == 2:
        word1 = text.split()[0][0]
        word2 = text.split()[1][0]
        if word1 == word2:
            return True
        else:
            return False
        
    else:
        print('pick two words')

In [273]:
# Check
animal_crackers('Levelheaded Llama')

True

In [274]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [275]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20 or (n1+n2) ==20:
        return True
    else:
        return False
    pass

In [276]:
# Check
makes_twenty(20,8)

True

In [277]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [278]:
def old_macdonald(name):
    lst = []
    finname = ''
    if len(name) >= 4:
        for letter in name:
            lst.append(letter)
        lst[0] = name[0].capitalize()
        lst[3] = name[3].capitalize()
        finname = "".join(lst)
        return finname
    else :
        print('need word longer than 4 or more letters')

In [59]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [253]:
def master_yoda(text):
    lt = text.split()
    lt.reverse()
    
    return(" ".join(lt))
    pass

In [254]:
# Check
master_yoda('I am home')

'home am I'

In [255]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [81]:
def almost_there(n):
    if n >= 90 and n <= 110 or n >= 190 and n <= 210:
        print (True)
    else:
        print (False)
    pass

In [82]:
# Check
almost_there(104)

True

In [83]:
# Check
almost_there(150)

False

In [84]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [93]:
def has_33(nums):
    cn = 0
    for n in nums:
        if cn != n:
            cn = n
        elif cn == n and n == 3:
            return True
        else:
            pass
    return False
        
    pass

In [94]:
# Check
has_33([1, 3, 3])

True

In [101]:
# Check
has_33([1, 3, 1, 3])

False

In [282]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [108]:
def paper_doll(text):
    newtxt= []
    for letter in text:
        newtxt.append(letter)
        newtxt.append(letter)
        newtxt.append(letter)
    return "".join(newtxt)
    pass

In [109]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [110]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [287]:
def blackjack(a,b,c):
    if a+b+c <= 21:
        return a+b+c
    elif a+b+c < 31 and 11 in (a,b,c):
        return (a+b+c)-10
    else:
        print('BUST')
    pass

In [288]:
# Check
blackjack(5,6,7)

18

In [289]:
# Check
blackjack(9,9,9)

BUST

In [293]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [294]:
def summer_69(arr):
    stop = False
    sum1 = 0
    for numbers in arr:
        if numbers == 6:
            stop = True
        elif numbers == 9:
            stop = False
        elif stop == False:
            sum1 += numbers
    return sum1

In [295]:
# Check
summer_69([1, 3, 5])

9

In [296]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [297]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [302]:
def spy_game(nums):
    spy = ""
    for n in nums:
        if n == 0 or n == 7:
            spy += str(n)
    return spy == "007"

In [303]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [304]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [305]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [306]:
def count_primes(num):
# returns the number of prime numbers that exist in a number, 

    primes = []
    
    # numbers bellow 1 are not considered primes
    if num > 1: 
        
        #works through all the numbers that are within the given number
        for n in range(2,num):
            
            # calculates whether the number is a prime
            for i in range(2,n):
                if (n % i) == 0:
                    # n is not a prime
                    break
                    
            # appends the prime number to list primes        
            else:
                primes.append(n)
                
        # prints the amount of primes collected
        print(primes)
        return len(primes)
    elif num < 2:
        print('number needs to be greater than 1')

In [307]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [244]:
def print_big(letter):
    dic={'a':'  *  \n * * \n*****\n*   *\n*   *', 'b':'to lazy to make the letter', 'c':'tltmtl', 'd':'tltmtl','e':'tltmtl'}
    print(dic[letter])
    pass

In [248]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!